{% extends "layout.html" %}

{% block title %}
Create a new reference
{% endblock %}

{% block body %}

<h2>Create a new reference</h2>

{% if reference_type %}
<p><strong>Reference Type:</strong> @{{ reference_type }}</p>
{% endif %}

<form action="/create_reference" method="post">
  <input type="hidden" name="reference_type" value="{{ reference_type }}">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  
  {% if required_fields %}
  <h3>Required Fields</h3>
  {% for field in required_fields %}
  <label for="{{ field }}">{{ field.capitalize() }}:</label>
  <input type="text" name="{{ field }}" id="{{ field }}" required>
  <br>
  {% endfor %}
  {% endif %}
  
  {% if optional_fields %}
  <h3>Optional Fields</h3>
  {% for field in optional_fields %}
  <label for="{{ field }}">{{ field.capitalize() }}:</label>
  <input type="text" name="{{ field }}" id="{{ field }}">
  <br>
  {% endfor %}
  {% endif %}
  
  <button type="submit">
    Create
  </button>
</form>

{% endblock %}