label {
  display: inline-block;
  width: 110px;
  text-align: right;}

h2 {
  color: rgb(81, 81, 81);
}

.add_button {
  background-color: rgb(225, 225, 225);
  color: rgb(81, 81, 81);
  border-radius: 4px;
  border: none;
}

.add_button:hover {
  background-color: rgb(203, 203, 203);
}

.search {
  position: absolute;
  top: 10px;
  right: 10px;
}